$primary:#650300;
$secondary:#aa0601;
$light:#fff;

$fs-small:14px;
$fs-normall:16px;
$fs-medium:20px;
$fs-exmedium:24px;
$fs-large:48px;

$fw-b:bold;

$mwcontainer-pc:1320px;
$mwcontainer-pad:720px;
$mwcontainer-mobile:372px;
$mw-pad:768px;
$mw-mobile:375px;