<div class="footer">
    <div class="container-footer">
        <div class="changeble-rwd">
            <div class="up">
                <ul class="tab">
                    <li class="mr-48">
                        <a class="fc-w" href="#">首頁</a>
                    </li>
                    <li class="mr-48">
                        <a class="fc-w" href="#">系列鏡框</a>
                    </li>
                    <li class="mr-48">
                        <a class="fc-w" href="#">門市據點</a>
                    </li>
                    <li class="mr-48">
                        <a class="fc-w" href="#">部落格</a>
                    </li>
                    <li>
                        <a class="fc-w" href="#">常見問題</a>
                    </li>
                </ul>
                <ul class="social-icon">
                    <li class="mr-32 md-mr-16 sm-mr-8">
                        <a href="#">
                            <img class="wh-48 wh-40 sm-wh-24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="ic-social-fb">
                        </a>
                    </li>
                    <li class="mr-32 md-mr-16 sm-mr-8">
                        <a href="#">
                            <img class="wh-48 wh-40 sm-wh-24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="ic_social_ig">
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <img class="wh-48 wh-40 sm-wh-24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="ic_social_line">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mid">
                <ul class="contact-info">
                    <li class="contact-item mb-8">
                        <span class="material-icons-outlined mr-20 sm-mr-8">call</span>
                        <a class="fs-36 fc-w sm-fs-16" href="">0800-000-000</a>
                    </li>
                    <li class="contact-item">
                        <span class="material-icons-outlined mr-20 sm-mr-8">email</span>
                        <a class="fs-36 fc-w sm-fs-16" href="">glasses@business.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="down">
            <div class="rights sm-mb-8">
              <p class="fc-w">Copyright © 2020 Glasses.All rights reserved.</p>
            </div>
            <div class="policy">
              <p class="mr-48 fc-w sm-mb-8">隱私權政策</p>
              <p class="fc-w">服務條款</p>
            </div>
        </div>
    </div>
</div>