@mixin pad{
    @media(max-width:$mw-pad){
      @content;
    }
}
@mixin mobile{
    @media(max-width:$mw-mobile){
      @content;
    }
}

/*banner區塊*/
.banner{
    padding: 296px 0px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover; /* 讓圖片填滿整個容器，若圖片太小，可能因拉伸而造成失真。 */
    @include pad{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
    @include mobile{
        padding: 144px 0px;
    }
    &-container{
        max-width: $mwcontainer-pc;
        margin: 0 auto;
        padding: 0px 12px;
        display: flex;
        flex-direction: column;
        align-items: end;
        @include pad{
           max-width: $mwcontainer-pad;
        }
    
        @include mobile{
            max-width: $mwcontainer-mobile;
        }
        p{
            color: $primary;
            font-size: 36px;
            @include mobile{
                font-size: $fs-normall;
            }
        }
        h2{
            color: $primary;
            font-size: 64px;
            font-weight: $fw-b;
            margin-bottom: 4px;
            @include mobile{
                font-size: $fs-exmedium;
                margin-bottom: 8px;
            }
        }
        a{
            color: $light;
            font-size: $fs-medium;
            display: block;
            width: 104px;
            padding-top: 6px;
            padding-bottom: 6px;
            background-color: $secondary;
            text-align: center;
        }
    }
}
.mr-0{
    margin-right: 0px;
}

/* service區塊 */
.service{
    background-color: #fbf2f2;
    padding-top: 80px;
    padding-bottom: 80px;
    @include mobile{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &-container{
        max-width: $mwcontainer-pc;
        margin: 0 auto;
        padding: 0px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include pad{
            max-width: $mwcontainer-pad;
        }
        @include mobile{
            max-width: $mwcontainer-mobile;
        }
    }
    &-text{
        color: $primary;
        font-size: $fs-large;
        font-weight: $fw-b;
        margin-bottom: 32px;
        @include mobile{
            font-size: $fs-exmedium;
            margin-bottom: 24px;
        }
    }
    &-card{
        display: flex;
        margin-left: -12px;/*消除item最左及最右的padding*/
        margin-right: -12px;
        @include pad{
            flex-wrap: wrap;
        }
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 12px;
        width: 25%;
        @include pad{
          width: 50%;
        }
        @include mobile{
            width: 100%;
            margin-bottom: 24px;
        }
        h3{
            font-size: $fs-exmedium;
            font-weight: $fw-b;
            color:$primary;
        }
    }
}
.mb-0{
    margin-bottom: 0px !important;
}

/* classic區塊 */
.classic{
    padding-top: 80px;
    padding-bottom: 80px;
   @include mobile{
     padding-top: 40px;
     padding-bottom: 40px;
   }
   &-container{
    max-width: $mwcontainer-pc;
    margin: 0 auto;
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include pad{
        max-width: $mwcontainer-pad;
    }
    @include mobile{
        max-width: $mwcontainer-mobile;
    }
    h2{
        font-size: $fs-large;
        font-weight: $fw-b;
        color: $primary;
        margin-bottom: 48px;
        @include mobile{
         font-size: $fs-exmedium;
         margin-bottom: 24px;
        }
    }
   }
}
.glasses{
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    @media(max-width:993px){
        flex-direction: column;
        align-items: center;
    } 
    &-item{
        padding: 0px 12px; 
        @media(max-width:993px){
            width: 50%;
            margin-bottom: 24px;
        } 
        @include mobile{
            width: 100%;
        }
    }
    &-text{
        font-family: 'Roboto';
        font-style: italic;
        font-size: $fs-large;
        font-weight: 900;
        color: $secondary;
        text-align: center;
    }
}
.mb-8{
    margin-bottom: 8px;
}

/*designed區塊*/
.designed{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size:cover;
    padding-top: 80px;
    padding-bottom: 80px;
    @include pad{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);
    }
    @include mobile{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &-container{
        max-width: $mwcontainer-pc;
        margin: 0 auto;
        padding:0px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include pad{
            max-width:$mwcontainer-pad;
        }
        @include mobile{
            min-width: $mwcontainer-mobile;
        }
        h2{
            font-size: $fs-large;
            font-weight: $fw-b;
            color: $light;
            margin-bottom: 48px;
            @include mobile{
              margin-bottom: 24px;
            }
        }
    }
    &-glasses{
        display: flex;
        @include pad{
          flex-wrap: wrap;
        }
    }
    &-text{
        font-family: 'Roboto';
        font-style: italic;
        font-size: $fs-large;
        color: $secondary;
        background-color: $light;
        text-align: center;
        padding: 8px 0px;
    }
    &-item{
        @include pad{
         width: 100%;
        }
    }
}
.mb-md-24{
    @include pad{
        margin-bottom: 24px;
    }
}
.home-section4-1-sm{
    @include mobile{
        content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true);
    }
}
.home-section4-2-sm{
    @include mobile{
        content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true);
    }
}
.br-1{
    border-right:1px solid gray ;
    @include pad{
        border-right: 0px;
    }
}

/* recommend區塊 */
.recommend{
    padding: 80px 0px;
    @include mobile{
        padding: 40px 0px;
    }
    &-container{
        max-width: $mwcontainer-pc;
        margin: 0 auto;
        padding: 0px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include pad{
            max-width: $mwcontainer-pad;  
        }
        @include mobile{
           max-width: $mwcontainer-mobile;
        }
    }
    &-head{
        font-size: $fs-large;
        font-weight: $fw-b;
        color: $primary;
        margin-bottom: 48px;
    }
}
.customer-card{
    display: flex;
    margin: 0px -12px;
    @include pad{
        flex-wrap: wrap;
    }
}
.comment{
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.fs-16{
    font-size: 16px;
}
.fw-500{
    font-weight: 500;
}
.fs-14{
    font-size: 14px;
}
.fc-70{
    color: #707070;
}
.plr12{
    padding: 0px 12px;
    @include pad{
        width: 50%;
    }
    @include mobile{
        width:100%;
    }
}
.customer-item{
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
}
.md-mb-24{
    @include pad{
        margin-bottom: 24px;
    }
}
.sm-mb-16{
    @include mobile{
        margin-bottom: 16px;
    }
}

/* 表單區塊 */
.contact{
    background-color: #fbf2f2;
    padding: 80px 0px;
    &-container{
        max-width: $mwcontainer-pc;
        margin: 0 auto;
        padding: 0px 12px;
        display: flex;
        justify-content: center;
        @include pad{
            max-width: $mwcontainer-pad;
        }
        @include mobile{
            max-width: $mwcontainer-mobile;
        }
    }
    &-form{
        width: 50%;
        display: flex;
        flex-direction: column;
        @include pad{
            width: 75%;
        }
        @include mobile{
            width: 100%;
        }
    }
    &-header{
        font-size: $fs-large;
        color:$primary;
        font-weight: $fw-b;
        margin-bottom: 48px;
    }
}
.as-center{
    align-self: center;
}
.fs-20{
    font-size: 20px;
}
.mb-24{
    margin-bottom:24px;
}
.mb-16{
    margin-bottom: 16px;
}
.h-36{
    height:36px;
}
.h-33{
    height: 33px;
}
.h-136{
    height: 136px;
}
.check{
   display: flex;
}
.send{
    display: block;
    color: $light;
    font-weight: $fw-b;
    background-color: $secondary;
    width: 416px;
    text-align: center;
    align-self: center;
    padding: 16px 0px;
    @include pad{
      width: 336px;  
    }
    @include mobile{
        width: 100%;
    }
    &:hover{
        background-color: $primary;
    }
}
.mb-48{
    margin-bottom: 48px;
}