<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head'); -%>
<body>
    <%- include('./layout/header'); -%>
    <div class="banner">
        <div class="banner-container">
          <p>Promise-Desert 2020 早春系列</p>
          <h2>看得清，才能看得遠</h2>
          <a href="#">立即購買</a>
        </div>
    </div>
    <div class="service">
        <div class="service-container">
            <h2 class="service-text">用專業的心，做專業的事</h2>
            <ul class="service-card">
                <li class="service-item">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true" alt="home-section2-1">
                  <h3>單一價格</h3>
                  <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                </li>
                <li class="service-item">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true" alt="home-section2-2">
                  <h3>20 分鐘即可取件</h3>
                  <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                </li>
                <li class="service-item">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true" alt="home-section2-3">
                  <h3>安心售後服務</h3>
                  <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                </li>
                <li class="service-item mb-0">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true" alt="home-sectioin2-4">
                  <h3>關於鏡片</h3>
                  <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="classic">
        <div class="classic-container">
            <h2>經典系列鏡框</h2>
            <ul class="glasses">
                <li class="glasses-item">
                    <img class="mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true" alt="home-section3-1">
                    <h3 class="glasses-text">OPTICAL</h3>
                </li>
                <li class="glasses-item">
                    <img class="mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true" alt="home-section3-2">
                    <h3 class="glasses-text">SUNGLASSES</h3>
                </li>
                <li class="glasses-item mb-0">
                    <img class="mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true" alt="home-section3-3">
                    <h3 class="glasses-text">FUNCTIONAL</h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="designed">
        <div class="designed-container">
            <h2>聯名設計鏡框</h2>
            <ul class="designed-glasses">
                <li class="designed-item mb-md-24 br-1">
                    <img class="home-section4-1-sm" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true" alt="home-section4-1">
                    <h3 class="designed-text">DOUBLE A+</h3>
                </li>
                <li class="designed-item">
                    <img class="home-section4-2-sm" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true" alt="home-section4-2">
                    <h3 class="designed-text">YOUTH</h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="recommend">
        <div class="recommend-container">
            <h2 class="recommend-head">顧客推薦</h2>
            <ul class="customer-card">
                <div class="plr12 md-mb-24 sm-mb-16">
                    <li class="customer-item">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true" alt="home-section5-1">
                        <div class="comment">
                            <div class="name">
                                <h4 class="fw-500">Jessy</h4>
                                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                            </div>
                            <p class="fs-14 fc-70">2021/06/20</p>
                        </div>
                    </li>
                </div>
                <div class="plr12 md-mb-24 sm-mb-16">
                    <li class="customer-item">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true" alt="home-section5-2">
                        <div class="comment">
                            <div class="name">
                                <h4 class="fw-500">凱倫</h4>
                                <p class="">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                            </div>
                            <p class="fs-14 fc-70">2021/04/18</p>
                        </div>
                    </li>
                </div>
                <div class="plr12 sm-mb-16">
                    <li class="customer-item">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true" alt="home-section5-3">
                        <div class="comment">
                            <div class="name">
                                <h4 class="fw-500">悠悠</h4>
                                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                            </div>
                            <p class="fs-14 fc-70">2020/12/25</p>
                        </div>
                    </li>
                </div>
                <div class="plr12">
                    <li class="customer-item">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true" alt="home-section5-4">
                        <div class="comment">
                            <div class="name">
                                <h4 class="fw-500">Kyuan</h4>
                                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                            </div>
                            <p class="fs-14 fc-70">2020/10/31</p>
                        </div>
                    </li>
                </div>                
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="contact-container">
            <div class="contact-form">
                <h2 class="contact-header as-center">聯絡我們</h2>
                <p class="fs-20 mb-24">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                <label class="mb-8" for="myname">姓名</label>
                <input class="mb-16 h-36" type="text" placeholder="陳小明" id="myname">
                <label class="mb-8" for="myphone">聯絡電話</label>
                <input class="mb-16 h-33" type="tel" placeholder="0912-345-678" id="myphone">
                <label class="mb-8" for="myemail">電子郵件</label>
                <input class="mb-16 h-33" type="email" placeholder="example@email.com" id="myemail">
                <label class="mb-8" for="myopinion">意見反應</label>
                <textarea class="mb-16 h-136" name="" id="myopinion" placeholder="請輸入您的意見"></textarea>
                <div class="check mb-48">
                    <input type="checkbox" id="mycheck">
                    <label for="mycheck">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                </div>
                <a class="send" href="">確認送出</a>
            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>